* {
	box-sizing: border-box;
}
body {
	font-family: meiryo;
	font-size: 16px;
	color: #444;
	margin: 0;
}
.page-header {
	border-bottom: 2px solid #ddd;
	margin: auto;
	text-align: center;
}
.page-header h1 {
	margin: 10px;
	font-size: 28px;
}
.page-header .back-link {
	position: absolute;
	left: 15px;
	top: 15px;
	text-decoration: none;
	color: #444;
	font-size: 20px;
	display: block;
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 28px;
	height: 28px;
	line-height: 28px;
}
.page-body {
	width: 1000px;
	margin: 50px auto;
}
.page:not(.art-page) .pager {
	display: flex;
	justify-content: flex-end;
	margin: 10px;
}
.page:not(.art-page) .pager :is(ul,ol) {
	list-style: none;
	display: flex;
}
.page:not(.art-page) .pager li {
	margin: 0 5px;
}
.page:not(.art-page) article {
	border: 1px solid silver;
	border-top: none;
	padding: 12px 20px;
	background: #fafafa;
}
.page:not(.art-page) article:first-of-type {
	border-top: 1px solid silver;
}
.page:not(.art-page) a {
	display: flex;
	align-items: center;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
.page:not(.art-page) h2 {
	margin: 0;
	flex: 1;
	font-size: inherit;
}
.page:not(.art-page) time {
	flex: none;
}
.page.art-page article header {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}
.page.art-page article header h2 {
	margin: 0;
	flex: 1;
}
.page.art-page article header time {
	flex: none;
}
.page.art-page .article-body h1 {
	font-size: 26px;
}
.page.art-page .article-body h2 {
	font-size: 24px;
}
.page.art-page .article-body h3 {
	font-size: 22px;
}
.page.art-page .article-body h4 {
	font-size: 20px;
}
.page.art-page .article-body h5 {
	font-size: 18px;
}
.page.art-page .article-body h6 {
	font-size: 18px;
}
.page.art-page .article-body pre code {
	display: block;
	border: 1px dotted #bbb;
	background: #f0f0f0;
	font-size: 14px;
	font-family: monaco, consolas;
	padding: 12px;
}
.page.art-page .article-body blockquote {
	display: block;
	border-left: 6px solid #ddd;
	padding: 2px 12px;
	margin: 8px 0;
}
